{
  "plugins": ["syntax-dynamic-import", "dynamic-import-node",
    ["transform-react-jsx", {
      "pragma": "m"
    }]
  ],
  "presets": [
    "latest"
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  },
  "sourceMaps": "inline"
}
