.navbar {
  background: lightblue;
  padding: 20px;
  position: relative;
}

.navbarInner {
  display: flex;
  justify-content: space-between;
}

.navbarLinkList {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0;
}

.navbarListItemLink {
  color: black;
  border-bottom: 3px solid black;
  text-decoration: none;
  margin: 10px 5px;
  font-family: 'Rubik', sans-serif;
}

.navbarListItemLink:hover {
  border-bottom-color: yellow;
}

.metaInfo {
}
