.sidebar2 {
  background: #f1f1f1;
  z-index: 1;
}

.subscribe {
  //height: 200px;
  background: lighten($green, 0%);
}

.topViews {
  //height: 400px;
  margin-top: 10px;
}

.stick {
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
}
.scrollStick {
  z-index: 1;
  padding: 10px 20px 10px 0;
}

.stick2 {
  .scrollStick {

    position: fixed !important;
    width: 300px;
    bottom: 10px !important;
    right: 0 !important;
  }
}

#korfu:before, #korfu:after {
  border-top: medium none;
  bottom: 1px;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  right: 0;
}
#korfu:before, #korfu:after {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #D9D9D9;
}
#korfu:after {
  bottom: -5px;
  box-shadow: 0 0 2px #D9D9D9;
  left: 1px;
  right: 1px;
}
#korfu:before, #korfu:after {
  border-top: medium none;
  bottom: 1px;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  right: 0;
}
#korfu:before, #korfu:after {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #D9D9D9;
}

#korfu {
  position:relative;
  margin: 0 auto;
  width:280px;
  border:1px solid black;
  border-left-color:#B6B6B6;
  border-color: #DBDBDB #B6B6B6 #C2C2C2;
  //height:218px;
  transition: display 0.2s ease 0s;
  background:#FCFCFC;
  backgourn-color: #FEFEFE;
  background: -moz-linear-gradient(top, #FEFEFE 20%, #F8F8F8);
  background: -o-linear-gradient(top, #FEFEFE 20%, #F8F8F8);
  background: -webkit-linear-gradient(top, #FEFEFE 20%, #F8F8F8);
  padding:10px 20px 10px 20px;
}


#korfu hr {
  border:0;
  border-top:1px solid  #EBEBEB;
  height:3px;
  padding-bottom:15px;
}

#korfu input {
  margin-bottom:20px;
  width:228px;
  color:#A49FA3;
  font-family: 'Lato', sans-serif;
  padding:6px;
  border-radius:3px;
  border:1px;
  border:1px solid;
  font-size:12px;
  box-shadow: 1px 0 1px rgba(215, 215, 215, 0.5) inset,
  0 1px 0 rgba(224, 224, 224, 0.9) inset,
  0 1px 0 rgba(242, 242, 242, 0.9) inset,
  0 1px 0 rgba(235, 235, 235, 0.9) inset;
  border-color:#ADADAD #D7D7D7 #EBEBEB #D7D7D7;
}

#korfu button {
  width:242px;
  padding:6px;
  border:1px solid;
  border-color:#C77B30 #C44D13 #C33203 #C44D13;
  border-radius:4px;
  color:white;
  font-weight:bold;
  height:40px;
  background: -moz-linear-gradient(top, #F9A960 , #F56735);
  background: -o-linear-gradient(top, #F9A960 , #F56735);
  background: -webkit-linear-gradient(top, #F9A960 , #F56735);
  font-family: 'Lato', sans-serif;
  cursor: pointer;
  box-shadow: 2px 3px 3px rgba(221, 221, 221, 0.9),0 1px 0 #FBC984 inset;
}

#korfu button:active {
  background: -moz-linear-gradient(bottom, #F9A960 10%, #F56735);
  box-shadow:none;
}

.widget {
  position: relative;
  width: 280px;
  background: white;
  border: 1px solid #ccc;
  padding: 5px 0 !important;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.07);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.07);
}


.widget-tab > .widget-tab-link,
.widget-list:target:first-of-type ~ .widget-tabs > .widget-tab:first-child ~ .widget-tab > .widget-tab-link,
.widget-list:target:nth-of-type(2) ~ .widget-tabs > .widget-tab:nth-child(2) ~ .widget-tab > .widget-tab-link,
.widget-list:target:last-of-type ~ .widget-tabs > .widget-tab:last-child ~ .widget-tab > .widget-tab-link {
  margin: 0;
  border-top: 0;
}

.widget-tab + .widget-tab {
  margin-right: -1px;
}

.widget-tab:last-child,
.widget-list:target:first-of-type ~ .widget-tabs > .widget-tab:first-child,
.widget-list:target:nth-of-type(2) ~ .widget-tabs > .widget-tab:nth-child(2),
.widget-list:target:last-of-type ~ .widget-tabs > .widget-tab:last-child {
  bottom: -1px;
  margin-top: 0;
  padding-bottom: 2px;
  line-height: 34px;
  font-weight: bold;
  color: #555;
  background: white;
  border-top: 0;
}

.widget-tab:last-child > .widget-tab-link,
.widget-list:target:first-of-type ~ .widget-tabs > .widget-tab:first-child > .widget-tab-link,
.widget-list:target:nth-of-type(2) ~ .widget-tabs > .widget-tab:nth-child(2) > .widget-tab-link,
.widget-list:target:last-of-type ~ .widget-tabs > .widget-tab:last-child > .widget-tab-link {
  margin: 0 -1px;
  border-top: 4px solid #4cc8f1;
}

.widget-tab-link {
  display: block;
  min-width: 60px;
  padding: 0 15px;
  color: inherit;
  text-align: center;
  text-decoration: none;
  border-radius: 4px 4px 0 0;
}

.widget-list {
  display: none;
}

.widget-list > li + li {
  border-top: 1px solid #e8e8e8;
}

.widget-list:last-of-type {
  display: block;
}

.widget-list:target {
  display: block;
}

.widget-list:target ~ .widget-list {
  display: none;
}

.widget-list-link {
  display: block;
  line-height: 18px;
  padding: 10px 12px;
  font-weight: bold;
  color: #555;
  text-decoration: none;
  cursor: pointer;
}

.widget-list-link:hover {
  background: #f7f7f7;
}

li:last-child > .widget-list-link {
  border-radius: 0 0 3px 3px;
}

.widget-list-link > img {
  float: left;
  width: 32px;
  height: 32px;
  margin: 2px 12px 0 0;
}

.widget-list-link > span {
  display: block;
  font-size: 11px;
  font-weight: normal;
  color: #999;
}
